<html>
  <head>
    <title>Google Photo</title>
    <style>
     .headder{
        margin-left:80px;
        margin-right: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .header h1 {
       -webkit-background-clip: text !important;
       -webkit-text-fill-color: transparent;
       background: linear-gradient(transparent 60%, #ffff66 60%);
       background: -webkit-linear-gradient(left, #DE487A, #FFDB4B, #2BD02B, #0095F9, #8E55FF);
      }
      .header form{
       margin: 0 auto;
       width: 330px;
      
      }
     .picture{
       margin-left:80px;
       margin-right: 80px;
       display: flex;
       flex-wrap: wrap;
      }
      .picture img{
        margin-left: 3px;
        margin-right: 3px;
      }
    </style>
  </head>
  
  <body>
    <header class="header">
    <h1>Photo Library</h1>
      <%= form_tag '/photos/search', method: :post do %>
      <%= text_field_tag :keyword %>
      <%= submit_tag '検索' %>
      <%= link_to 'アップロード', '/photos/new' %> 
      <% end %>
    </header>
    <hr/>
    <div class="picture">
    <% @photos.each do |photo| %>
    <p>
    <%= photo.date %>
    <br/>
    <%= link_to((image_tag "/get_image/#{photo.id}", :width => '285', :height => '200'), "/photos/#{photo.id}") %>
    </p>
    <% end %>
    </div>
  </body>
</html>



