<html>
 <head>
  <style>
   .headder{
        margin-left:80px;
        margin-right: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .header h1 {
       -webkit-background-clip: text !important;
       -webkit-text-fill-color: transparent;
       background: linear-gradient(transparent 60%, #ffff66 60%);
       background: -webkit-linear-gradient(left, #DE487A, #FFDB4B, #2BD02B, #0095F9, #8E55FF);
      }
      form{
        margin: 0 auto;
       width: 350px;
      }
  </style>
 </head>
 
 <body>
   <header class="header">
    <h1>Google フォト</h1>
    </header>
    <hr/>
    <%= link_to "←", '/' %>
    <% if @photo.errors.present? %>
    <h3>エラーがあります。</h3>
    <ul>
     <% @photo.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
     <% end %>
    </ul>
   <% end %>
<br/>
    <p>
    <%= form_for @photo do |f| %>
    <%= f.label :title, 'タイトル：' %>
    <%= f.text_field :title %><br/><br/>
    <%= f.label :date, '日付：' %>
    <%= f.text_field :date %><br/><br/>
    <%= f.label :file, 'ファイル：' %>
    <%= f.file_field :file %><br/><br/>
    <%= f.submit '登録' %>
    <% end %>
    </p>
 </body>
</html>



