<html>
  <head>
    <style>
      .p{
        display: flex; 
        align-items: center; 
        justify-content: center; 
        flex-direction: column; 
        }
    </style>
  </head>
  <body>
  <%= link_to "←", '/' %>

  <p align="right">
  <%= link_to '編集',"/photos/#{@photo.id}/edit" %>
  <%= link_to '削除',"/photos/#{@photo.id}", method: :delete %>
  </p>
  <div class="p">
  <%= image_tag "/get_image/#{@photo.id}" %>
  </div>
 </body>
</html>




  



